<launch>
    <!-- export JACKAL_URDF_EXTRAS=$HOME/Desktop/realsense.urdf.xacro -->
    <arg name = "use_rviz" default = "true" doc = "whether to use rviz"/>

    <!-- load pid gains yaml file -->
    <rosparam command = "load" file = "$(find rtab_slam)/config/p_gains.yaml"/>


    <!-- include jackal description launch file -->
    <include file = "$(find rtab_slam)/launch/jackal_description.launch">
        <!-- <arg name = "config" value = "3d_laser"/> -->
    </include>


    <!-- include jackal control launch file -->
    <include file = "$(find jackal_control)/launch/control.launch"/>


    <!-- launch jackal control teleop.launch -->
    <include file = "$(find jackal_control)/launch/teleop.launch">
        <arg name = "joystick" value="false"/>
    </include>

    <!-- launch camera node -->
    <!-- <include file = "$(find realsense2_camera)/launch/rs_camera.launch"/> -->

    <!-- launch rtabmap -->
    <include file = "$(find rtab_slam)/launch/3d_odom_rtabmap.launch"/>

    <!-- launch move_base -->
    <include file = "$(find rtab_slam)/launch/move_base.launch"/>

    <!-- launch rviz -->
    <node name = "rviz" pkg = "rviz" type = "rviz" args="-d $(find slam)/config/jackal.rviz" if = "$(arg use_rviz)"/>

    <!-- bring up lidar -->
    <include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <!-- bring up realsense camera -->
    <include file = "$(find realsense2_camera)/launch/rs_camera.launch"/>

    <!-- transform from body to Lidar -->
    <node name = "base2lidar" pkg = "static_transform_publisher" type = "tf" args = "0 0 0.3 0 0 0 /base_link /velodyne 100"/>

    <!-- transform from lidar to realsense camera -->
    <node name = "lidar2rs" pkg = "static_transform_publisher" type = "tf" args = "0 0.1 0 0 0 0 /velodyne /camera_color_optical_frame 100"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x 0.0 -y 0.0 -z 1.0" />
</launch>